.menu{
/*border-bottom-left-radius:25px; */
/*	border-top-left-radius: 25px; border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;border-bottom-right-radius: 25px; */
	border-radius: 25px;
}


a{
color:#CCFFCC;
text-decoration:blink;
}

/* CSS Document */

